@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: rgb(255, 144, 14);
    --color-primary-transparent: rgba(255, 144, 14, 0.1);
    --color-primary: rgb(255, 144, 14);
    --txt-dark1: rgb(19, 19, 19);
    --txt-dark2: rgb(66, 66, 66);
    --txt-gray: rgb(114, 114, 114);
}


* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--txt-dark1);
    font-weight: 700;
}

p {
    color: var(--txt-gray);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

body {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.btn-primary {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    padding: 1rem 1.8rem;
    border-radius: 8px;
    background-color: var(--color-primary);
}

img {
    width: 100%;
}

/* NavBar */

header {
    background: var(--color-primary-transparent);
}


nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    margin-bottom: 6rem;
}

nav h3 {
    font-size: 2.8rem;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.nav-links {
    text-decoration: none;
    color: var(--txt-dark2);
    font-weight: 500;
}

.banner img {
    margin-bottom: 2.8rem;
}

.banner-txt {
    max-width: 862px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-bottom: 3.2rem;
}

.banner-txt h1 {
    font-size: 4rem;
}

/* Features */
.features-txt h1 {
    color: var(--txt-gray);
    font-size: 3.8rem;
}

.features-txt .features-header1 {
    color: var(--txt-dark1)
}

.features-txt .features-header2 {
    color: var(--color-primary);
}

.features {
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
    margin: 8.5rem auto;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.img-grid img {
    width: 342px;
    height: 342px;
    border-radius: 8px;
}

.features-txt {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
}

/* Features Enjoy*/
.fea-enjoy {
    display: flex;
    gap: 11.5rem;
    margin-bottom: 8rem;
}

.enjoy-txt h3 {
    font-size: 2.8rem;
    line-height: 53px;
    border-left: 5px solid var(--color-primary);
    padding-left: 1.6rem;
    margin-bottom: 1.4rem;
}

.enjoy-txt p,
.enjoy-txt-items {
    max-width: 36.6rem;
}

.enjoy-txt>p {
    margin-bottom: 1.8rem;
}

.enjoy-txt-items {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px 42px 30px 30px;
    margin-bottom: 20px;
}

.enjoy-txt-items h4 {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
}

.enjoy-img {
    position: relative;
}

.enjoy-img-box {
    border-radius: 8px;
    background: var(--color-primary);
    padding: 2.8rem 2.6rem;
    text-align: center;
    position: absolute;
    bottom: 0rem;
    left: -5.7rem;
}

.enjoy-img-box h4 {
    font-size: 4rem;
    color: #FFF;
}

.enjoy-img-box p {
    font-size: 1.4rem;
    color: #FFF;
}

/* Facts */
.facts {
    margin-bottom: 6.7rem;
}

.facts h3 {
    font-size: 3.8rem;
    margin-bottom: 1.5rem;
}

.fact-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    margin-top: 6.2rem;
    flex-wrap: wrap;
}

.fact-card {
    width: 241.83px;
    height: 241.83px;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fact-card img {
    width: 45.22px;
    height: 45.22px;
}

.fact-card h5 {
    font-size: 3.8rem;
}

.fact-card p {
    font-size: 1.2rem;
}

/* Sponsor */
.sponsor {
    margin-bottom: 8.2rem;
}

.sponsor-txt {
    max-width: 542px;
    margin: 0 auto;
    margin-bottom: 4rem;
    text-align: center;
}

.sponsor-txt h3 {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
}

.sponsor-brands {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sponsor-brands img {
    width: 166.76px;
    height: 50px;
    filter: grayscale(100%);
}

/* Footer */

footer p {
    color: var(--txt-dark2);
    font-size: 1.2rem;
    padding: 2.4rem 0;
    text-align: center;
    background: var(--color-primary-transparent);
    margin-bottom: 10rem;
    border-radius: 8px;
}


@media screen and (width<=1440px) {
    .container {
        margin: 0 1.5rem;
    }
}

@media screen and (width<=576px) {
    .nav-list {
        display: none;
    }
}